@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    
    --cor-primaria: rgb(39, 68, 93);
    --cor-primaria-hover: rgb(39, 68, 93, 0.9);
    --cor-secundaria: white;
    --texto: rgb(49, 49, 49);
    --cor-linha: rgb(113, 187, 178);
    --navbar-action: rgb(15, 24, 28);
    --icons: rgb(113, 187, 178);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.active {
    border-bottom: 3px solid var(--cor-linha) !important;
}

.whats-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 20px;
    bottom: 2%;
    z-index: 1050;
    background-color: rgb(37 211 102);
    border-radius: 200px;
    border: 2px solid white;
    padding: 20px;
    animation: myAnim 5s infinite ease;
    a {
        color: white;
    }
    i {
        padding: 20px;
        font-size: 30px;
    }
}

.whats-contato:hover {
    background-color: rgb(37, 211, 102, 0.8);
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-32px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-10px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-3px);
	}


	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

@media screen and (max-width: 680px) {
    
    .button-actions {
        display: flex !important;
    }

    .info-small {
        padding-bottom: 80px !important;
    }

    .carrousel-button {
        display: none !important;
    }
}

@media screen and (max-width: 1399px){
    
    .solutions-card {
        flex-wrap: nowrap !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}

