@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    
    --cor-primaria: rgb(69, 48, 116);
    --cor-primaria-hover: rgb(69, 48, 116, 0.9);
    --cor-secundaria: white;
    --texto: rgb(49, 49, 49);
    --cor-linha: rgb(5, 195, 222);
    --navbar-action: rgb(15, 24, 28);
    --icons: rgb(5, 195, 222);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: var(--cor-secundaria);
}

@media screen and (max-width: 1240px) {
    
    .nav-container {
        display: none !important;
    }
    .nav-container-responsive {
        display: flex !important;
    }
    .client-attention {
        justify-content: center !important;
        gap: 20px;
        /* align-items: center; */
        h2 {
            font-size: 20px;
        }
        a {
            font-size: 16px !important;
        }
    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
    }

    .institutional, .services {
        h6 {
            font-size:22px;
        }
        a {
            font-size: 16px !important;
        }
    }

    .about-banner {
        img {
            width: 80%;
        }
    }

    .sobre-empresa {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 680px) {
    
    .button-actions {
        display: flex !important;
    }

    .info-small {
        padding-bottom: 80px !important;
    }

    .carrousel-button {
        display: none !important;
    }
}

@media screen and (max-width: 1399px){
    
    .solutions-card {
        flex-wrap: nowrap !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}

